.profile__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .profile__subtitle {
    padding-left: 75px;
  }
}
