.popup__container_image {
  border: 0;
  padding: 0;
  box-shadow: unset;
  border-radius: 0;
  background-color: unset;
  max-width: 816px;
  width: 81%;
  height: 69%;
  top: 90px;
}

@media screen and (max-width: 425px) {
  .popup__container_image {
    top: 136px;
    width: 75%;
  }
}
