/* .form__close-icon {
  border: 1px solid red;
  margin-left: 418px;
} */

.form__close-icon {
  height: 34px;
  width: 34px;
  position: absolute;
  top: -34px;
  right: -34px;
  border: 0;
  background-color: unset;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: 57px;
}

.form__close-icon:hover {
  opacity: 0.6;
  cursor: url(../../../images/pointer.png), auto;
}
